.ul_bouton{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

a{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    list-style: none;
    text-decoration: none;
    color: black;
}

nav{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{
    text-align: center;
}

p{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.logo_google{
    width: 50px;
    height: 50px;
}

.video_nest_mini{
    display: block;
    margin: auto;
    width: 600px;
    height: 650px;
}

.bouton_centre{
    text-align: center;
    display: block;
    margin: auto;
}

.div_famille{
    color: white;
    background-image: url("image/Google_Home_Mini_Family_Time_-_Chalk_grande.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 300%;
    text-shadow: 2px 2px 5px black;


}

.gris{
    background-color: grey;
}

.h2{
    color: white;
}

.patie_blanche{
    color: grey;
    background-image: url("image/nest_mini_blanc.jpeg");
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-position: center;
    position: relative;

}

.p1{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    position: absolute;
    top: 150;
    right: 120;
    font-size: 130%;

}

.p2{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    position: absolute;
    bottom: 120;
    right: 150;
    font-size: 130%;
}

.p3{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    position: absolute;
    top: 250px;
    left: 120;
    font-size: 130%;
}

.bulle{
    background-image: url("image/nest_mini_noir.png");
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-position: center;

}

.color{
    background-image: url("image/color_nest_mini.jpeg");
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-position: center;
}

.color{
    position: relative;
}

.charbon{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    position: absolute;
    top: 180px;
    left: 420;
    font-size: 130%;
    color: grey;
}

.galet{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    position: absolute;
    top: 260px;
    left: 970;
    font-size: 130%;
    color: grey;
}

.corail{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    position: absolute;
    top: 80px;
    left: 780;
    font-size: 130%;
    color: grey;
}

.aqua{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    position: absolute;
    top: 350px;
    left: 630;
    font-size: 130%;
    color: grey;
}

.image{
    display: flex;
    justify-content: space-around;
    gap: 70px;
    
}
.p_image{
  
    display: flex;
    justify-content: space-around;
    gap: 70px;
    
}

.p_mur{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 130%;
    color: white;
}
.p_son{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 130%;
    color: white;
}
.p_matériaux{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 130%;
    color: white;
}

.block{
    background-color: grey;
}

.google_down{
    display: flex;
    margin: auto;
    width: 100px;
    height: 100px;
}
.down{
    display: block;
    margin: auto;
    align-items: center;
    text-align: center;
}

.p_down{
    font-size: 130%;
}

@media screen and (max-width: 800px) {
    .p1{
        font-size: 80%;
        
    }
    .p2{
        font-size: 80%;
        
    }
    .p3{
        font-size: 80%;
        position: absolute;
        top: 520px;
        left: 220;
    }
    .charbon{
        position: absolute;
        top: 320px;
        left: 50;
        font-size: 100%;
    }
    .aqua{
        position: absolute;
        top: 420px;
        left: 160;
        font-size: 100%;
    }
    .corail{
        position: absolute;
        top: 270px;
        left: 220;
        font-size: 100%;
    }
    .galet{
        position: absolute;
        top: 370px;
        left: 320;
        font-size: 100%;
    }
}
